.navigation {
  grid-area: navigation;
  width: 76px;
  min-width: 76px;
  background: var(--background-primary);
  border-right: 1px solid var(--divider-secondary);
  z-index: 1;
}

.navigation__inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: var(--spacing-l);
}

.navigation__folders {
  width: 100%;
  padding: var(--spacing-l) 0 var(--spacing-m) 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-s);
  position: relative;
  overflow: hidden;
}

.navigation__folders-viewport {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  width: 100%;
}

.navigation__upper-trigger,
.navigation__bottom-trigger {
  height: 1px;
}

.navigation__item {
  width: 100%;
}

.navigation__draggable-viewport {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  width: 100%;
}

.navigation__separator {
  height: 1px;
  margin: 0 var(--spacing-s);
  background: var(--divider-primary);
  flex-shrink: 0;
}

.navigation__bottom-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  margin-top: var(--spacing-m);
  padding: 0 var(--spacing-xs);
  flex: 1;
}

.navigation__item--settings {
  margin-top: auto;
}