.app {
  display: grid;
  grid-template-columns: 76px 393px 1fr;
  grid-template-areas: 'navigation sidebar main';
  height: 100vh;
  overflow: hidden;
}

.app__main {
  grid-area: main;
  overflow: hidden;
  min-width: 0;
}

.app__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--background-primary);
}

.app__placeholder-text {
  font-size: var(--font-detail-size);
  line-height: var(--font-detail-line-height);
  color: var(--text-secondary);
}